<script>
  import LoadingMessage from "./LoadingMessage.svelte";
  export let loading;
  export let datasets;

  let total;
  let currentValues;

  function dataLoaded(node) {
    return {
      destroy() {
        computeCurrentValues();
      }
    };
  }

  function computeCurrentValues() {
    if (!datasets) {
      return;
    }

    currentValues = [];
    datasets.forEach(({ data, label }) => {
      if (label === "TOTAL") {
        total = data[data.length - 1];
      } else {
        currentValues.push({
          label,
          value: data[data.length - 1]
        });
      }
    });
  }
</script>

<style>
  header {
    text-align: center;
    margin: 16px;
  }

  header h2,
  header p {
    margin: 0;
  }

  header h2 {
    font-size: 2em;
    color: #2196f3;
  }

  header p {
    color: #a2a2a2;
  }

  .asset {
    height: 40px;
    border-bottom: 1px solid #a2a2a2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .asset .label {
    color: #a2a2a2;
  }

  .asset .value {
  }
</style>

{#if loading}
  <div use:dataLoaded>
    <LoadingMessage />
  </div>
{/if}

{#if total}
  <header>
    <h2>{total} €</h2>
    <p>Total Portfolio Value</p>
  </header>
  {#each currentValues as { label, value }, i}
    <div class="asset">
      <p class="label">{label}</p>
      <p class="value">{value} €</p>
    </div>
  {/each}
{/if}
