<style>
  div.card {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    background: white;
    padding: 16px;
    width: 100%;
    height: 100%;
  }
</style>

<div class="card">
  <slot />
</div>
