<script>
  import LoadingMessage from "./LoadingMessage.svelte";
  import { chartConfig } from "./../chart.config.js";
  import { Colors } from "../colors.js";
  import Chart from "chart.js";

  export let labels;
  export let datasets;

  export let chartId;
  export let loading;

  let chart;

  function dataLoaded(node) {
    return {
      destroy() {
        setChart();
      }
    };
  }

  function getDatasets() {
    return !datasets
      ? []
      : datasets.map((dataset, i) => {
          dataset.borderColor = Colors.getColor(i);
          dataset.backgroundColor = Colors.getColor(i);
          dataset.fill = false;
          return dataset;
        });
  }

  function setChart() {
    if (!datasets && !labels) {
      return;
    }

    if (chart) {
      updateChart();
    } else {
      createChart();
    }
  }

  function createChart() {
    console.log("create chart");
    chart = new Chart(chartId, {
      type: "line",
      data: {
        labels,
        datasets: getDatasets()
      },
      options: chartConfig
    });
  }

  function updateChart() {
    console.log("update chart");
    chart.data = {
      labels,
      datasets: getDatasets()
    };
    chart.update();
  }
</script>

{#if loading}
  <div use:dataLoaded>
    <LoadingMessage />
  </div>
{/if}

<canvas id={chartId} height="0" width="0" />
