<style>
  div {
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    background: white;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: flex-end;
  }

  h1 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
  }
</style>

<div>
  <h1>Kraken Assets</h1>
</div>
