<style>
  .loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #00000044;
    background: #2196f311;
    font-size: 1.2em;
  }
</style>

<div class="loading">
  <span>Loading...</span>
</div>
