<script>
  export let action;
  export let loading;
</script>

<style>
  button {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background: #2196f3;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background-image: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  button.loading > svg {
    animation: loading 0.6s ease-out infinite;
  }

  @media (max-width: 720px) {
    button {
      bottom: 1rem;
      right: 1rem;
      width: 40px;
      height: 40px;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
</style>

<button on:click={loading ? null : action} class:loading>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="56px"
    height="56px"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid">
    <g>
      <path
        d="M50 26A24 24 0 1 0 74 50.00000000000001"
        fill="none"
        stroke="#ffffff"
        stroke-width="8" />
      <path d="M49 14L49 38L61 26L49 14" fill="#ffffff" />
    </g>
  </svg>
</button>
