<script>
  import Header from "./components/Header.svelte";
  import AssetList from "./components/AssetList.svelte";
  import Card from "./components/Card.svelte";
  import Chart from "./components/Chart.svelte";
  import { getChartData } from "./data";
  import LoadingFab from "./components/LoadingFab.svelte";

  let loading = true;
  let data;

  async function getData() {
    loading = true;
    data = await getChartData();
    loading = false;
  }

  getData();
</script>

<style>
  main {
    display: grid;
    grid-gap: 8px;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 0 3fr 1fr 0;
    grid-template-rows: 2.5em 1fr;
    grid-template-areas:
      "header header header header"
      ". chart side ."
      ". . . .";
  }

  section {
    width: 100%;
  }

  header {
    grid-area: header;
  }

  section.chart {
    grid-area: chart;
  }

  section.list {
    grid-area: side;
  }

  @media (max-width: 720px) {
    section {
      padding: 0;
    }

    main {
      grid-template-columns: 1fr;
      grid-template-rows: 2.5em calc(100vh - 2.5em - 16px) 100vh;
      grid-template-areas:
        "header"
        "chart"
        "side";
    }
  }
</style>

<main>
  <header>
    <Header />
  </header>

  <section class="chart">
    <Card>
      <Chart chartId="kraken-chart" {loading} {...data} />
    </Card>
  </section>

  <section class="list">
    <Card>
      <AssetList {loading} {...data} />
    </Card>
  </section>

  <LoadingFab action={getData} {loading} />
</main>
